[Unit]
After=network-online.target
Before=apiserver.service
Before=controller-manager.service
Before=kubelet.service
Before=proxy.service
Description=Download Kubernetes Binaries
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://f700f59c75059549e099-4b97512b329698cff604197c970eaa5b.r59.cf5.rackcdn.com/apiserver
ExecStart=/usr/bin/wget -N -P /opt/bin http://f700f59c75059549e099-4b97512b329698cff604197c970eaa5b.r59.cf5.rackcdn.com/controller-manager
ExecStart=/usr/bin/wget -N -P /opt/bin http://f700f59c75059549e099-4b97512b329698cff604197c970eaa5b.r59.cf5.rackcdn.com/kubecfg
ExecStart=/usr/bin/wget -N -P /opt/bin http://f700f59c75059549e099-4b97512b329698cff604197c970eaa5b.r59.cf5.rackcdn.com/scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/apiserver
ExecStart=/usr/bin/chmod +x /opt/bin/controller-manager
ExecStart=/usr/bin/chmod +x /opt/bin/scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kubecfg
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineMetadata=kubernetes_role=master
X-ConditionMachineID=<ID>
