[Unit]
After=network-online.target
Before=apiserver.service
Before=controller-manager.service
Before=kubelet.service
Before=proxy.service
Description=Download Kubernetes Binaries
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kube-apiserver
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kube-controller-manager
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kubectl
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStart=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/usr/bin/chmod +x /opt/bin/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kubectl
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineMetadata=kubernetes_role=master
X-ConditionMachineID=<ID>
