[Unit]
After=network-online.target
Before=kubelet.service
Before=proxy.service
Description=Download Kubernetes Binaries
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://375cb66d0f7876d2b4c4-7bdbb23ff00f9b9ad5be25e2cee8efe6.r90.cf1.rackcdn.com/kubelet
ExecStart=/usr/bin/wget -N -P /opt/bin http://375cb66d0f7876d2b4c4-7bdbb23ff00f9b9ad5be25e2cee8efe6.r90.cf1.rackcdn.com/proxy
ExecStart=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/usr/bin/chmod +x /opt/bin/proxy
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineMetadata=kubernetes_role=minion
X-ConditionMachineID=<ID>
