[Unit]
After=network-online.target
Before=kubelet.service
Before=proxy.service
Description=Download Kubernetes Binaries
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kubelet
ExecStart=/usr/bin/wget -N -P /opt/bin http://8f0dc7bedf5410c4681e-85f86a919c154c64582f551423bc4265.r65.cf1.rackcdn.com/kube-proxy
ExecStart=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/usr/bin/chmod +x /opt/bin/kube-proxy
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineMetadata=kubernetes_role=minion
X-ConditionMachineID=<ID>
