[Unit]
ConditionFileIsExecutable=/opt/bin/kube-controller-manager
Description=Kubernetes Controller Manager
After=master-download-kubernetes@<ID>.service
Requires=master-download-kubernetes@<ID>.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
--master=127.0.0.1:8080 \
--logtostderr=true
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
