[Unit]
After=network-online.target
Description=Download Kubernetes Binaries
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://acf30c85d655c6ebaaf4-8388a38b0ec489079a363aafaab7f3f0.r0.cf3.rackcdn.com/kube-apiserver
ExecStart=/usr/bin/wget -N -P /opt/bin http://acf30c85d655c6ebaaf4-8388a38b0ec489079a363aafaab7f3f0.r0.cf3.rackcdn.com/kube-controller-manager
ExecStart=/usr/bin/wget -N -P /opt/bin http://acf30c85d655c6ebaaf4-8388a38b0ec489079a363aafaab7f3f0.r0.cf3.rackcdn.com/kubectl
ExecStart=/usr/bin/wget -N -P /opt/bin http://acf30c85d655c6ebaaf4-8388a38b0ec489079a363aafaab7f3f0.r0.cf3.rackcdn.com/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStart=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/usr/bin/chmod +x /opt/bin/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kubectl
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
