[Unit]
After=network-online.target
Description=Download Kubernetes Binaries
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kube-apiserver
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kube-controller-manager
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kubectl
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kube-apiserver
ExecStart=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/usr/bin/chmod +x /opt/bin/kube-scheduler
ExecStart=/usr/bin/chmod +x /opt/bin/kubectl
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
