[Unit]
After=network-online.target
Description=Download Kubernetes Binaries
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kubelet
ExecStart=/usr/bin/wget -N -P /opt/bin <URL>/kube-proxy
ExecStart=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/usr/bin/chmod +x /opt/bin/kube-proxy
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
MachineMetadata=kubernetes_role=minion
MachineID=<ID>
