[Unit]
ConditionFileIsExecutable=/opt/bin/kube-proxy
Description=Kubernetes Proxy
After=minion-download-kubernetes@<ID>.service
Requires=minion-download-kubernetes@<ID>.service

[Service]
ExecStart=/opt/bin/kube-proxy --etcd_servers=http://127.0.0.1:4001 --logtostderr=true
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=kubernetes_role=minion
MachineID=<ID>
